{% extends 'base.html.twig' %}

{% block title %}Hello CandidatureStageController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">


<script src="//code.jquery.com/jquery.js"></script>

	    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>

<h1> Liste des Certifications </h1>
<br>
<center>
<a href="{{ path('TrieDate') }}"><button class="btn"><i class="fa fa-folder"></i> Les plus proche</button></a>
<a href="{{ path('Informatique') }}"><button class="btn"><i class="fa fa-folder"></i>Informatique</button></a>
<a href="{{ path('Mecanique') }}"><button class="btn"><i class="fa fa-folder"></i>Mecanique</button></a>
<a href="{{ path('Electronique') }}"><button class="btn"><i class="fa fa-folder"></i>Electronique</button></a>
<a href="{{ path('stat') }}"><button class="btn"><i class="fa fa-folder"></i>STATISTIQUE</button></a>
<a href="{{ path('pdf') }}"><button class="btn"><i class="fa fa-folder"></i>IMPRIMER</button></a>
</center>


<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4c7aaf;
  color: white;
}
</style>
</head>




<input type="text" id="search" class="form-control" placeholder="Search">

<table border ="1" id="tableac">
<tr>
   <th scope="row">ID</th>
    <th scope="row">TYPE</th>
     <th scope="row">DATE PASSAGE</th>
       <th scope="row">PRIX</th>
       <th scope="row">DESCRIPTION</th>
       <th scope="row">NOM</th>
       <th scope="row">NOM ENTREPRISE</th>
    
</tr>
<tbody id="all">
    {% for certification in Certifications %}
<tr>
   <td>

{{ certification.id }}

   </td>
   <td>

{{ certification.type }}

   </td>

<td>

{{certification.DatePassage |date('d/m/Y')}}

   </td>


<td>

{{certification.prix}}

   </td>
   <td>

{{certification.description}}

   </td>
   <td>

{{certification.nom}}

   </td>

     <td>

{{certification.entreprise.nom}}

   </td>


    <td>



<a href="{{ path('ModifierCertif', {'id': certification.id}) }}"><button class="btn"><i class="fa fa-folder"></i> Modifier</button></a>
  
<a href="{{ path('SupprimerCertif', {'id': certification.id}) }}"<button class="btn"><i class="fa fa-trash"></i> Supprimer</button></a> 


</td>




</tr>
<script>
                            $(document).ready(function(){
                                $('#search').keyup(function(){
                                    search_table($(this).val());
                                });
                                function search_table(value){
                                    $('#tableac tbody tr').each(function(){
                                        var found = 'false';
                                        $(this).each(function(){
                                            if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                            {
                                                found = 'true';
                                            }
                                        });
                                        if(found == 'true')
                                        {
                                            $(this).show();

                                        }
                                        else
                                        {
                                            $(this).hide();

                                        }
                                    });
                                }
                            });
                        </script>

{%endfor%}
</tbody>
	

</td>
</tr>
<td>

<script type="text/javascript">
function imprimer_page(){
  window.print();
}
</script>

<form>
  <input id="impression" name="impression" type="button" onclick="imprimer_page()" value="Imprimer cette page" />
</form>

</td>



</table>
<br>

 <div class="navigation">
 <center>
            {{ knp_pagination_render(Certifications) }}
</center>        
        </div>

       

    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}



{% endblock %}

