{{ form_start(form,{'attr':{'form-control':'form-control'}}) }}



    {{ form_widget(form.idEvenement,{ 'label':'','attr':{'class':'form-control col-md-4','placeholder':'Lidentifiant de votre évenement'}}) }}
    {{ form_widget(form.typeParticipant,{ 'label':'','attr':{'class':'form-control col-md-4','placeholder':'Employe ou Stagiaire'}}) }}
    {{ form_widget(form.Nom,{ 'label':'','attr':{'class':'form-control col-md-4','placeholder':'Votre nom'}}) }}
    {{ form_widget(form.prenom,{ 'label':'','attr':{'class':'form-control col-md-4','placeholder':'Votre prénom'}}) }}
    {{ form_widget(form.mail,{ 'label':'','attr':{'class':'form-control col-md-4','placeholder':'Votre adresse mail'}}) }}
    {{ form_row(form.captchaCode) }}

{{ form_rest(form) }}
<div class="col-md-offset-5" > <button class="btn btn-primary mt30 btn-black ">{{ button_label|default('Enregistrer') }}</button> </div>

{{ form_end(form) }}
<!DOCTYPE html>


