{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <h1>Participant</h1>

    <table class="table" id="customers">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ participant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ participant.Nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse Mail</th>
                <td>{{ participant.mail }}</td>
            </tr>
            <tr>
                <th>Numéro de l'évenement</th>
                <td>{{ participant.idEvenement }}</td>
            </tr>
            <tr>
                <th>Type du participant</th>
                <td>{{ participant.typeParticipant }}</td>
            </tr>


        </tbody>
    </table>

    <a href="{{ path('participant_index') }}">Retourner à la liste des participants</a>

    <a href="{{ path('participant_edit', {'id': participant.id}) }}">Modifier</a>

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
