<form method="post" action="{{ path('offre_stage_delete', {'id': offre_stage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
{% block stylesheets %}   
 <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
{% endblock %} 
        <div class="alert alert-primary" role="alert" style="margin: auto;">{{ include('@MercurySeriesFlashy/flashy.html.twig') }}</br></div>  
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre_stage.id) }}">
    <button class="btn">Supprimer</button>
</form>


{% block javascripts %}
<script src="//code.jquery.com/jquery.js"></script>
<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
{% endblock %}