{% extends 'base.html.twig' %}
{% block title %}OffreStage index{% endblock %}
{% block stylesheets %}   
 <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
{% endblock %}

{% block body %}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    {% block javascripts %}
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <div class="alert alert-primary" role="alert" style="margin: auto;">{{ include('@MercurySeriesFlashy/flashy.html.twig') }}</br></div>
    
    {% endblock %}
    <h1>Offre stage</h1> 
    <a class="btn btn-outline-primary" href="{{ path('pdf') }}">PDF</a>
    <a class="btn btn-outline-primary" href="{{ path('offre_stage_new') }}">Ajouter offre stage</a>
    <input type="text" name="AfficherClasse" onkeyup="myFunction()" placeholder="Recherche "  id="myInput" >
    
    <table class="table" id="customers">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom Entreprise</th>
                <th>TypeStage</th>
                <th>Exigence</th>
                <th>Durée</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre_stage in offre_stages %}
            <tr>
                <td>{{ offre_stage.id }}</td>
                <td>{{ offre_stage.IDEntreprise.nom }}</td>
                <td>{{ offre_stage.TypeStage }}</td> 
                <td>{{ offre_stage.Exigence }}</td>
                <td>{{ offre_stage.Duree ? offre_stage.Duree.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
                <td>
                    <a href="{{ path('offre_stage_show', {'id': offre_stage.id}) }}"><i class="fa fa-address-card" style="font-size:24px"></i></a>
                    <a href="{{ path('offre_stage_edit', {'id': offre_stage.id}) }}"><i class="fa fa-edit" style="font-size:24px"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
  
</div> 
<script>



    function myFunction() {
  var input, filter, table, tr, td, i,j, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("customers");
  tr = table.getElementsByTagName("tr");
//   alert(td.length);
  for (i = 0; i < tr.length; i++) {
    td= tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }   
  }  
}


</script> 		
    
{% endblock %}



