    <h1>Offre stage</h1>

    <table class="table" id="customers">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom Entreprise</th>
                <th>TypeStage</th>
                <th>Exigence</th>
                   <th>Duree</th>
                
            </tr>
        </thead>
        <tbody>
        {% for offre_stage in offre_stages %}
            <tr>
                <td>{{ offre_stage.id }}</td>
                <td>{{ offre_stage.IDEntreprise.nom }}</td>
                <td>{{ offre_stage.TypeStage }}</td> 
                <td>{{ offre_stage.Exigence }}</td>
                <td>{{ offre_stage.Duree ? offre_stage.Duree.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




