{% extends 'base.html.twig' %}

{% block title %}OffreStage{% endblock %}

{% block body %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <h1>OffreStage</h1>

    <table class="table" id="customers">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offre_stage.id }}</td>
            </tr>
            <tr>
                <th>TypeStage</th>
                <td>{{ offre_stage.TypeStage }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ offre_stage.Duree ? offre_stage.Duree.format('%y year(s), %m month(s), %d day(s)') : '' }}</td>
            </tr>
            <tr>
                <th>Exigence</th>
                <td>{{ offre_stage.Exigence }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('offre_stage_index') }}">Liste des offres de stage</a>

    <a href="{{ path('offre_stage_edit', {'id': offre_stage.id}) }}">Modifier</a>

    {{ include('offre_stage/_delete_form.html.twig') }}
    </div>
{% endblock %}
