
    <h1>Candidat</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ candidat.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ candidat.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ candidat.prenom }}</td>
        </tr>
        <tr>
            <th>Motdepasse</th>
            <td>{{ candidat.motdepasse }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ candidat.type }}</td>
        </tr>
        <tr>
            <th>Secteur</th>
            <td>{{ candidat.secteur }}</td>
        </tr>
        <tr>
            <th>Siteweb</th>
            <td>{{ candidat.siteweb }}</td>
        </tr>
        <tr>
            <th>Tailleentreprise</th>
            <td>{{ candidat.tailleentreprise }}</td>
        </tr>
        <tr>
            <th>Numerotelephone</th>
            <td>{{ candidat.numerotelephone }}</td>
        </tr>
        <tr>
            <th>image</th>
            <td><img id="img"  class="card-img-top img-fluid" width="20" src="/uploads/{{candidat.img}}"> </td>
        </tr>



        </tbody>

    </table>





